
.sh {
    background-color: rgba(0, 0, 0, 0.685);

    form {
        background-color: var(--burgundy-color); 
        border: 2px solid var(--gold-color);
    }
}

.inp {
    color: var(--gold-color);
    background-color: rgba(245, 245, 220, 0);
    border: 2px solid var(--gold-color);
    outline: none;
    font-family: "Gilroy";

    &::placeholder {
        color: var(--gold-black)
    }
}

h1 {
    color: var(--gold-color); 
    font-family: "Gilroy"; 
}

.sig {
    background: var(--gold-gradient);
    box-shadow: -3px -3px 15px var(--gold-shadow);
    border: 2px solid var(--gold-color);
    font-family: "Gilroy";
}