:root {
    --gold-gradient: linear-gradient(200.88deg, #CB9A23 40.7%, #A94F10 94.83%);
    --gold-shadow: rgba(249, 234, 140, 0.3), 0px 4px 4px rgba(0, 0, 0, 0.25);
    --gold-color: #F5C76B;
    --burgundy-color: #470F0F;
    --gold-black: rgba(245, 199, 107, 0.4);
    ;

  }